*{
		box-sizing: border-box;
		margin:0;
		padding:0;
		font-family:Comic Sans MS, Comic Sans,cursive,san-serif  ;
		
	}

h1{
	
	font-size: 175%;
	text-align: center;
	margin-top:75px ;


}
.container{
	margin: 10px;
	margin-top: 75px;
	font-weight: 600;

}
.row{
	width: 100%;
}



.outbox{
	position: relative;
	background-color: #696969 ;
	border: 3px solid black;
	margin: 10px;
	color: black;
	padding:40px 10px 10px 10px ;




}


.p0{
	position: absolute;
	width: 160px;
	height: 35px;
	top: -3px;
	right: -3px;
	border: 3px solid black;
	text-align: center;
	padding: 0.5px;
	font-size: 125%;
	font-weight: 600;
	


}
.p1{
	background-color:#C06464 ;
}
.p2{
background-color:#B03C3A;
color: white;
}

.p3{
background-color: #E5D198 ;
}

@media(min-width: 992px){
	.col-md-4{
		float: left;
		width: 33.33%;
	}
	
}

@media(min-width: 768px) and (max-width: 991px){
	.col-sm-6,.col-sm-12{
		float: left;
		}
		.col-sm-6{
			width: 50%;
		}
	    .col-sm-12{
	    	width: 100%;
	    }

	}


@media(max-width:767px){
	.col-xs-12{
		float: left;
		width: 100%;

	}
}